<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Maroc Tourisme 2030</title>
</head>
<body>

<nav>
    <a href="/">Accueil</a> |
    {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">Mon profil</a> |
        <a href="{% url 'logout' %}">Déconnexion</a>
    {% else %}
        <a href="{% url 'login' %}">Connexion</a> |
        <a href="{% url 'register' %}">Inscription</a>
    {% endif %}
</nav>

<hr>

{% block content %}{% endblock %}

</body>
</html> #templates/home.html